
<h1> Link! </h1>

<ul id='links' >
  <%@links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL: <a href="<%= link.url %>"><%= link.url %></a>
      Tags: <% link.tags.each do |tag| %>
        <%= tag.name %>
      <% end %>
    </li>
    <% end %>
</ul>

<form action="/new" method="get">
  <input type="submit" value="New link">
</form>

<h2>Dumb Search Feature</h2>

<form action="/search" method="get">
  <input type='text' name="name">
  <input type="submit" value="Search">
</form>
