
<h1> Link! </h1>

<ul id='links' >
  <%@links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL: <%= link.url %>
    </li>
    <% end %>
</ul>

<form action="/new" method="get">
  <input type="submit" value="New link">
</form>

<form action="/tags" method="get">
  <input type='text' name="filter">
  <input type="submit" value="Search">
</form>
